<div class="list-group my-2">
    <a href="/admin" class="list-group-item list-group-item-action">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-tasks fa-fw mr-3"></span>
            <span class="menu-collapsed">Trang Chủ</span>
        </div>
    </a>

    <a href="#quanly" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-dashboard fa-fw mr-3"></span>
            <span class="menu-collapsed">Quản lý</span>
            <span class="submenu-icon ml-auto"></span>
        </div>
    </a>
    <!-- Submenu content -->
    <div id='quanly' class="collapse sidebar-submenu">
<!--        <a href="/admin/table" class="list-group-item list-group-item-action">-->
<!--            <span class="menu-collapsed">Quản lý bàn ăn</span>-->
<!--        </a>-->
        <a href="/admin/time" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Quản lý khung giờ</span>
        </a>
        <a href="/admin/category" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Quản lý thể loại món ăn</span>
        </a>
        <a href="/admin/dish" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Quản lý món ăn</span>
        </a>
        <a href="/admin/notification" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Quản lý thông báo</span>
        </a>
        <a href="/admin/users" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Quản lý người dùng</span>
        </a>
    </div>

    <a href="#donhang" data-toggle="collapse" aria-expanded="false" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-start align-items-center">
            <span class="fa fa-dashboard fa-fw mr-3"></span>
            <span class="menu-collapsed">Đơn hàng</span>
            <span class="submenu-icon ml-auto"></span>
        </div>
    </a>
    <!-- Submenu content -->
    <div id='donhang' class="collapse sidebar-submenu">
        <a href="/admin/book" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Đơn đặt bàn</span>
        </a>
        <a href="/admin/cancellationorder" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Đơn hủy</span>
        </a>
        <a href="/admin/completedorders" class="list-group-item list-group-item-action">
            <span class="menu-collapsed">Đơn hoàn thành</span>
        </a>
    </div>
</div>