<div class="list-group my-2">
    <a href="/admin" class="list-group-item list-group-item-action">Trang thống kê</a>
    <a href="/admin/users" class="list-group-item list-group-item-action">Quản lý người dùng</a>
    <a href="/admin/posts" class="list-group-item list-group-item-action">Quản lý bài đăng</a>
</div>