<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3>Trang quản trị</h3>
            Email: {{user.email}}
            <a name="signout" id="signout" class="btn btn-primary" href="/signout" role="button">Đăng xuất</a>
        </div>
    </div>
</div>